section{
    padding: 50px;
}

section .container h2{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

section .container .form{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
    border-radius: 10px;
}

section .container .form .username{
    margin-top: 20px;
}

section .container .form .user{
    padding: 15px;
    border: none;
}

section .container .form .user input{
    border-radius: 4px;
    padding: 10px;
    border: none;
}

section .container .form .password{
    padding: 15px;
    border: none;
}

section .container .form .password input{
    border-radius: 4px;
    padding: 10px;
    border: none;
}

section .container h3{
    margin-top: 20px;
    color: black;
    text-align: center;
}

section .container .form .submit button{
    padding: 5px;
    margin: 20px;
    margin-left: 85px;
    border-radius: 4px;
    color: aqua;
    border: none;
}

section .container .form .submit button:hover{
    background-color: black;
}