section{
    padding: 50px;
}

section .container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

section .container .form .title{
    padding: 15px;
}

section .container .form .title input{
    border-radius: 4px;
    padding: 10px;
}

section .container .form .blog{
    padding: 15px;
}

section .container .form .blog textarea{
    border-radius: 4px;
    padding: 10px;
}

section .container .form .submit button{
    position: absolute;
    left: 44%;
    transform: translateY(-44%);
    padding: 5px;
    border-radius: 4px;
    color: aqua;
}

section .container .form .submit button:hover{
    background-color: black;
}