section{
    padding: 50px;
}

section .container .form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
    border-radius: 10px;
}

section .container .form label{
    color: white;
}

section .container .form .title{
    padding: 15px;
}

section .container .form .title input{
    border-radius: 4px;
    padding: 10px;
    width: 280px;
}

section .container .form .blog{
    padding: 15px;
}

section .container .form .blog textarea{
    border-radius: 4px;
    padding: 10px;
    
}

section .container .form .submit button{
    padding: 5px;
    border-radius: 4px;
    color: aqua;
    margin-bottom: 20px;
    border: none;
    margin-left: 115px;
}

section .container .form .submit button:hover{
    background-color: black;
}

@media (max-width:500px) {
    section .container .form label{
        margin-left: 25px;
    }
    section .container .form .title input{
        width: 200px;
        margin-left: 25px;
    }

    section .container .form textarea{
        width: 250px;
    }
}